# ========================
# OS
# ========================
.DS_Store

# ========================
# IDE
# ========================
.idea/
*.iml

# ========================
# Java / Spring Boot
# ========================
*.class
*.log
**/target/
hs_err_pid*
replay_pid*

# ========================
# Package files
# ========================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ========================
# Local config / secrets
# ========================
**/application-local.properties
**/application-dev.properties
**/.env
**/.env.local

# ========================
# Node / Frontend
# ========================
**/node_modules/
**/dist/
**/build/

